body {
    color:#222433;
    background-color: #dbac00;
    font-family: Bitter, "Times New Roman", serif;
}
header {
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Oswald, Impact, sans-serif;
    font-size:300%;
    text-align: center;
}
img {
    max-width: 100%;
}

/* Hero */

#hero, footer {
    text-align:center;
    background-color: #5c522e;
    color:white;
    padding:20px;
    border:10px outset #9c8227;
    border-radius:40px;
}
#hero img {
    width:250px;
}

/* Bio */

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies ul li:nth-child(even) {
    color:#2d3586;
}

/* Gallery */

#gallery {
    border:10px outset #9c8227;
    border-radius:40px;
    text-align:center;
}
#gallery hr {
    border:none;
    border-top: 10px outset #9c8227;
}